@model Web.ViewModels.DeleteExpenseViewModel

<div class="modal-dialog-centered">
    <div class="modal-body">
        <h3>Ar tikrai norite pašalinti išlaidą?</h3>
        <div class="align-right">
            <button class="btn btn-outline-secondary" style="margin-right: 20px">Atšaukti</button>
            <button id="delete-button" class="btn btn-danger">Šalinti</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#delete-button").bind("click", function () {
            $.ajax('@Url.Action("DeleteExpense", "Expense", new { id = Model.Id })', {
                type: 'DELETE'
            })
                .done(function (response) {
                    window.location.replace(response);
                });
        });
    });
</script>