/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*-------------------------------------- CUSTOM ----------------------------------------*/

.borderless {
  border: none;
}

.align-right {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.margin-min {
  margin: 10px;
}

span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.body-container {
  margin-top: 10vh;
  display: flex;
  flex-flow: row;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.sidebar a {
  padding: 5px 5px 5px 10px;
  border-radius: 6px;
  margin: 5px;
}

.sidebar a:hover {
  text-decoration: none;
}

.link-active {
  background: #0375b4;
  color: #f4f4f4;
}

.link-active:hover {
  color: #f4f4f4;
}

.main-content {
  flex: 4;
}

.breadcrumb {
    background: #f0f0f0;
    display: flex;
    flex-flow: row;
}

.new-goal {
  margin-top: 15px;
}

.margin-between > * {
  margin-left: 10px;
}