@if (!string.IsNullOrWhiteSpace((string)TempData["Error"]))
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<div id="js-error-message" class="alert alert-danger" style="display: none" data-bind="visible: errorMessage, text: errorMessage"></div>