@using Web.Helpers
@{
    ViewData["Title"] = "Namai";
    ViewData["Menu"] = "Home";
    ViewData["BreadCrumbs"] = new BreadCrumb()
        .Append(SiteCrumbs.Home(Url));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Namai</h1>

Sveiki atvykę į FinSys finansų valdymo sistemą!